<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index.css">
    <title>Decrypt</title>
</head>
<body>
    <nav>
        <a href="/">Encrypt</a> 
        <a href="/decrypt">Decrypt</a>
    </nav>
    <div class="container">
        <div class="icon">🔓</div>
        <h2>Decrypt Your File</h2>
        <form method="post" enctype="multipart/form-data" action="/decrypt">
            <div>
                <label>Encrypted file (.enc) :</label>
                <input type="file" name="enc_file" required>
            </div>
            <div>
                <label>Enter passphrase:</label>
                <input type="password" name="password" required>
            </div>
            <input type="submit" value="Decrypt & Download">
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
        </form>
    </div>
</body>
</html>